In [57]:
import os
os.chdir("C:\\Users\\khali\\OneDrive\\√Årea de Trabalho\\LSTM-FCN-master")

import librosa as lr
import pandas as pd
import numpy as np
from glob import glob
import matplotlib.pyplot as plt
import random
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [104]:
data = glob('_data/all_data' + '/*.wav')
#random.shuffle(data)

label = []
for d in data:
    if 'H' in d:
        label.append('0')
    elif 'S' in d:
        label.append('1')
    elif 'happy' in d:
        label.append('0')
    elif 'angry' in d:
        label.append('1')

In [105]:
labels = pd.DataFrame(label)
labels.columns = [-1]

features_data = pd.DataFrame(columns=['feature'])
bookmark=0

In [106]:
new_feature = []
for file,y in enumerate(data):
    X,sample_rate = lr.load(data[file],res_type='kaiser_fast',duration=3,sr=8000*2,offset=0)
    sample_rate = np.array(sample_rate)
    mfccs = lr.feature.mfcc(y=X,sr=sample_rate,n_mfcc=15)
    new_feature.append(np.mean(mfccs[0]))
    new_feature.append(np.mean(mfccs[1]))
    new_feature.append(np.mean(mfccs[2]))
    new_feature.append(np.mean(mfccs[3]))
    new_feature.append(np.mean(mfccs[4]))
    new_feature.append(np.mean(mfccs[5]))
    new_feature.append(np.mean(mfccs[6]))
    new_feature.append(np.mean(mfccs[7]))
    new_feature.append(np.mean(mfccs[8]))
    new_feature.append(np.mean(mfccs[9]))
    new_feature.append(np.mean(mfccs[10]))
    new_feature.append(np.mean(mfccs[11]))
    new_feature.append(np.mean(mfccs[12]))
    new_feature.append(np.mean(mfccs[13]))
    new_feature.append(np.mean(mfccs[14]))
    
    features_data.loc[bookmark] = [new_feature]
    
    new_feature = []
    bookmark=bookmark+1

In [107]:
df3 = pd.DataFrame(features_data['feature'].values.tolist())

In [109]:
df3.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
2190,-293.692530,116.906835,10.763171,2.872972,-12.681482,-1.789653,-11.131673,5.051622,-10.610603,8.816426,-4.912434,4.027154,-10.732755,8.999711,-9.866400
2191,-267.881458,114.133607,8.859812,7.978017,-18.135622,0.696463,-10.505275,-5.186748,-10.702105,13.840480,-14.208824,9.259420,-8.247586,7.939550,-9.371540
2192,-265.351674,115.608712,-13.891004,16.968228,-12.593460,-1.992398,-6.257295,-10.972780,-13.552688,8.812050,-13.108115,8.506595,-11.724705,5.169085,-0.421594
2193,-272.989595,104.483783,1.250783,26.955630,-10.267503,-0.745753,-11.486902,4.072910,-4.635375,8.112141,-13.021237,2.244437,-5.485356,4.498259,-10.932237
2194,-354.797421,116.715317,-32.562625,-12.618541,11.973610,-2.846231,-1.827121,-2.284765,-8.984358,-12.864742,-13.493972,-14.862065,-13.647235,-10.730224,-14.433829

In [110]:
newdf = pd.concat([df3,labels], axis=1)
final_data = newdf.rename(index=str, columns={"0": "label"})

In [113]:
final_data.fillna(0, inplace=True)

In [114]:
final_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,-1
0,-393.872364,143.065715,28.254148,21.915662,36.550758,10.473217,-0.911331,8.257899,5.220637,4.708601,10.514065,6.504892,6.667071,14.438592,11.190200,0
1,-372.423796,152.454533,25.547740,23.805177,36.407758,7.179566,6.794110,19.865749,6.870373,5.237482,14.707940,5.286964,3.571662,15.527777,9.281723,0
2,-419.614457,164.926290,16.018537,26.357706,44.721712,2.263494,3.128924,26.556902,7.887081,-0.748485,13.830055,7.892138,4.597889,17.067968,10.810810,0
3,-384.084138,144.051446,11.477809,5.889607,28.624909,7.281152,6.219459,20.318993,6.130387,2.106977,19.824999,14.229084,-0.724291,6.498971,11.540733,0
4,-382.869809,147.717027,21.790911,16.748959,33.203546,8.217283,9.298968,23.418428,3.936794,-3.981437,15.313313,13.787561,0.820552,7.133867,12.252556,0

In [115]:
final_data.to_csv(r'C:\\Users\\khali\\final_data_15.csv')